# Ignore common MacOS system files
.DS_Store
.AppleDouble
.LSOverride

# Ignore obsidian files
.obsidian/app.json
.obsidian/appearance.json
.obsidian/core-plugins.json
.obsidian/workspace.json
.obsidian/plugins/obsidian-link-converter/styles.css
.obsidian/community-plugins.json
.obsidian/plugins/obsidian-link-converter/data.json
.obsidian/plugins/obsidian-link-converter/main.js
.obsidian/plugins/obsidian-link-converter/manifest.json
